[Unit]
Description=Foreman smart proxy dynflow core service
Documentation=https://github.com/theforeman/smart_proxy_dynflow
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=notify
User=foreman-proxy
ExecStart=/usr/bin/smart_proxy_dynflow_core --no-daemonize
EnvironmentFile=-/etc/sysconfig/smart_proxy_dynflow_core

[Install]
WantedBy=multi-user.target
