---
:enabled: true
:database:

# Require a valid cert to access Dynflow console
# :console_auth: true

# Maximum age of execution plans to keep before having them cleaned
# by the execution plan cleaner (in seconds), defaults to 30 minutes
# :execution_plan_cleaner_age: 1800
