---
# Path to dynflow database, leave blank for in-memory non-persistent database
:database:

# URL of the foreman, used for reporting back
:foreman_url: 'http://localhost:3000'

# SSL settings for client authentication against Foreman
# :foreman_ssl_ca: ssl/foreman_ca.pem
# :foreman_ssl_key: ssl/foreman_key.pem
# :foreman_ssl_cert: ssl/foreman_cert.pem

:console_auth: false

# Set to true to make the core fork to background after start
# :daemonize: false
# :pid_file: /var/run/foreman-proxy/smart_proxy_dynflow_core.pid

# Listen on address
:listen: 127.0.0.1

# Listen on port
:port: 8008

# SSL settings for running core as https service
# :use_https: false
# :ssl_ca_file: ssl/ca.pem
# :ssl_private_key: ssl/localhost.pem
# :ssl_certificate: ssl/certs/localhost.pem

# Use this option only if you need to disable certain cipher suites.
# Note: we use the OpenSSL suite name, take a look at:
# https://www.openssl.org/docs/manmaster/apps/ciphers.html#CIPHER-SUITE-NAMES
# for more information.
#:ssl_disabled_ciphers: [CIPHER-SUITE-1, CIPHER-SUITE-2]

# Use this option only if you need to strictly specify TLS versions to be
# disabled. SSLv3 and TLS v1.0 are always disabled and cannot be configured.
# Specify versions like: '1.1', or '1.2'
#:tls_disabled_versions: []

# File to log to, leave empty for stdout or use STDOUT, STDERR, SYSLOG or JOURNAL
#:log_file: /var/log/foreman-proxy/smart_proxy_dynflow_core.log

# Log level, one of UNKNOWN, FATAL, ERROR, WARN, INFO, DEBUG
#:log_level: ERROR

# The maximum size of a log file before it's rolled (in MiB)
#:file_rolling_size: 100

# The maximum age of a log file before it's rolled (in seconds). Also accepts 'daily', 'weekly', or 'monthly'.
#:file_rolling_age: weekly

# Number of log files to keep
#:file_rolling_keep: 6

# Logging pattern for file-based loging
#:file_logging_pattern: '%d %.8X{request} [%.1l] %m'

# Logging pattern for syslog or journal loging
#:system_logging_pattern: '%.8X{request} [%.1l] %m'

# Maximum age of execution plans to keep before having them cleaned
# by the execution plan cleaner (in seconds), defaults to 24 hours
# :execution_plan_cleaner_age: 86400
