name: CI
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get update
      - run: sudo apt-get install build-essential libsystemd-dev
      - uses: actions/checkout@v2
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - name: Run rubocop
        if: github.event_name != 'push'
        run: bundle exec rubocop
  test_ruby:
    runs-on: ubuntu-latest
    needs: rubocop
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        ruby-version: [2.7, 3.0, 3.1]
    steps:
      - run: sudo apt-get update
      - run: sudo apt-get install build-essential libsystemd-dev
      - uses: actions/checkout@v2
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Run tests
        run: |
          bundle exec rake test:core
